{{- if eq .chezmoi.hostname "lenovo" }}

# Global
export EDITOR="vim"

# Custom prompt
# TODO set different color if ROOT
# export PS1="[\[\e[1;33m\]\u\[\e[m\]\[\e[1;32m\]@\[\e[m\]\[\e[1;32m\]\h\[\e[m\] \[\e[1;36m\]\W\[\e[m\]] \\$ "
# export PS1="[\[$(tput sgr0)\]\[\033[38;5;11m\]\u\[$(tput sgr0)\]\[\033[38;5;10m\]@\h\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput sgr0)\]\[\033[38;5;14m\]\W\[$(tput sgr0)\]\[\033[38;5;15m\]] \[$(tput sgr0)\]"

# Fancier LESS (and man)
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS="-FSRXI"

# Activate CLI
# Fasd
eval "$(fasd --init auto)"
# Kcli
eval "$(register-python-argcomplete kcli)"

# Clean history
unset export HISTIGNORE
export HISTIGNORE=$HISTIGNORE:'l:ls:ll:lt *:history:pwd:man *:fg:bg:jobs *:echo *'
# Ignore duplicate commands
export HISTCONTROL=ignoredups

# Add path for Ipython and Jupyter
export PATH=$PATH:/home/mofo/.local/bin/

# Sourcing
[ -f $HOME/.bashrc ] && source $HOME/.bashrc
[ -f $HOME/.bash_aliases ] && source $HOME/.bash_aliases
# TODO
# [ -f $HOME/.bash_git_completion ] && source $HOME/.bash_git_completion
# [ -f $HOME/.git-prompt.sh ] && source $HOME/.git-prompt.sh
[ -f $HOME/.fzf.bash ] && source ~/.fzf.bash

{{- end }}
